@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@200;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Encode Sans Condensed', sans-serif;
}

.flexbox {
    display: flex;
    flex-wrap: wrap; /* Corrected property */
    justify-content: center;
    align-content: start;
    height: 1000px;
    width: 1000px;
    background-color:rgb(255, 231, 122)
}

@media only screen and (min-width: 200px) and (max-width: 767px) {
    .flexbox {
        width: 100%;
        flex-direction: column;
    }
}

.car {
    width: 150px;
    height: 150px; /* Adjusted to use viewport height */
    margin: 10px; /* Added some spacing between cars */
}

.car1 {
    /* flex-grow: 3; */
    background-color: rgb(129, 32, 32);
}

.car2 {
    flex-basis: 2000px;
    background-color: black;
}

.car3 {
    flex-shrink: 0;
    background-color: rgb(55, 53, 156);
}
