
:root{
  --primary-color: #6f55f2;
  --heading-color: #132742;
  --bg-gradient: linear-gradient( 90deg, 
  rgba(103, 101, 240, 1) 27%,
  rgba(141, 141, 235, 1) 85% )
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
