<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Beautiful Navbar</title>
  <link rel="stylesheet" href="/styles/navbar.css">
</head>
<body>

<nav>
  <div class="logo">
    <a href="#">YourLogo</a>
  </div>
  <ul class="nav-links">
    <% if(currentUser){ %>
      <li><a href="#">Home</a></li>
    <li><a href="/createNews">Create News</a></li>
    <li><a href="/myblogs">My blogs</a></li>
    <li><a href="/logout">Log out</a></li>
    <% } else{ %>
      <li><a href="/register">Register</a></li>
    <li><a href="/login">Login</a></li>
    <% } %>
    
    
  </ul>
</nav>

</body>
</html>
