*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

html{
    height: 100%;
    width: 100%;
    
}

#container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
#demo{
    display: inline-block;
}
#box-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px ;
    width: 100%;
}

.box{
    height: 80px;
    width: 80px;
    border-radius: 15%;
    background-color: brown;
}

