
body {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
}

.box {
    display: block;
}

.green {
    color: green;
    background-color: aqua;
    height: 150px;
    width: 150px;
}